@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --primary-color: #79AC78; 
    --secondary-color: #000E01;
    --third-color: #FFFFFF;
    --color-button: #618264;
    --font-family1: "Inter", serif;
    --font-family2: "IBM Plex Sans", serif;
}
*{
    padding: 0;
    margin: 0;
    border: 0;
}
html{
    font-size: 10px;
    overflow: none;
    font-family: var(--font-family2);
}
body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}
header{
    font-family: var(--font-family1);
}
.absolute{
    font-family: var(--font-family2);
}
.sign{
    font-family: var(--font-family2);
}